[Unit]
Description=Dim Lights
Wants=dim-lights.timer

[Service]
User=root
Type=oneshot
WorkingDirectory=/home/pi/projects/doorbell_chime/light-control/
ExecStart=/home/pi/projects/doorbell_chime/light-control/heliocron -l 39.001N -o 77.379W wait --event civil_dusk
ExecStart=/usr/local/bin/pipenv run lights brightness 30

[Install]
WantedBy=multi-user.target
