[Unit]
Description=Turn On Lights At 
Requires=turn-on-lights.service

[Timer]
Unit=turn-on-lights.service
OnCalendar=*-*-* 08:00:00

[Install]
WantedBy=timers.target
