[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpi-ws281x = {version="*", markers="platform_machine == 'armv6l' or platform_machine == 'armv7l'"}
adafruit-circuitpython-neopixel = {version="*", markers="platform_machine == 'armv6l' or platform_machine == 'armv7l'"}
watchdog = "*"
python-dotenv = "*"
click = "*"
pyzmq = "*"
