[Unit]
Description=Light Control
After=multi-user.target

[Service]
User=root
Type=simple
Restart=always
WorkingDirectory=/home/pi/projects/doorbell_chime/light-control-ts/
ExecStart=/usr/local/bin/tsx index.ts

[Install]
WantedBy=multi-user.target
